doctype html
html
	head
		title Ethan Calls It
		link(type="text/css" href="/style.css" rel="Stylesheet")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
	body
		div.header
			//img.ethan-head(src = "ethan-head.jpg")
		div.feed
			div.spacer
				div.sticky
					h1 Ethan Calls It
			
			each record in calls
				a(id="call-"+record.callid)
				div.call
					div.sticky
						h2= record.title
						span.material-icons.witnessed(class=record.witnessedby ? "yes" : "no", title=record.witnessedby ? (`Witnessed by ${record.witnessedby}` + (record.witnessedtime ? ` on ${record.witnessedtime}` : '')) : 'Not witnessed yet')
						span.submit-time
							| Submitted on #{dateFormat(record.timestamp)}
							if record.submittedby
								|  by #{record.submittedby}
						
						dl
							div
								dt Made on
								dd= dateFormat(record.calldate, 'longDate')
							div
								dt Witnessed by
								dd= record.witnessedby || "Not witnessed yet" 
							div
								dt Expiry Date
								dd= record.expirydate ? dateFormat(record.expirydate, 'longDate') : "Open ended"
							div
								dt Status
								dd= record.status
						if record.description
							for para in record.description.split("\n")
								p= para
		div.footer
			label(for="action-button") Are you Ethan?
			a(id="action-button" href="/actions")
				button Call it!
			